/* style.css */
body {
    background-color: #f0f8ff;
}

h1 {
    color: #2b6777;
}

button {
    background-color: #52ab98 !important;
    color: white !important;
}

footer {
    visibility: hidden;
}
